@font-face {
  font-family: "Basementgrotesque v1";
  src: url("https://assets.website-files.com/62384332bac7f3d4f139ee1e/624d512fb71355ca5053a9b3_BasementGrotesque-Black_v1.202.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter(reg)";
  src: url("https://assets.website-files.com/62384332bac7f3d4f139ee1e/624d5355680635daffa4474d_Inter%20(regular).woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter(bold)";
  src: url("https://assets.website-files.com/62384332bac7f3d4f139ee1e/624d5355d152d69557a26195_Inter%20(bold).woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.margin-20 {
  margin: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter(reg)", sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

a {
  color: #000;
  text-decoration: none;
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

a.link {
  padding: 25px 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: transparent;
  outline-color: #000;
  outline-offset: -2px;
  outline-style: solid;
  outline-width: 2px;
  -webkit-transition: background-color 600ms cubic-bezier(0.23, 1, 0.32, 1),
    color 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: background-color 600ms cubic-bezier(0.23, 1, 0.32, 1),
    color 400ms cubic-bezier(0.23, 1, 0.32, 1);
  font-family: "Basementgrotesque v1", sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 1;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

a.link:hover {
  background-color: #000;
  color: #fff;
}

hr {
  background-color: #e0e0e0;
  opacity: 0.1;
  margin-bottom: 32px;
  width: 100%;
  height: 0.5px;
}

blockquote {
  margin-bottom: 0px;
  padding: 0px;
  border-left: 5px none #e2e2e2;
  font-family: "Basementgrotesque v1", sans-serif;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 900;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Basementgrotesque v1", sans-serif;
  font-size: 80px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Basementgrotesque v1", sans-serif;
  font-size: 56px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Basementgrotesque v1", sans-serif;
  font-size: 40px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.row {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.grain {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -10;
  /* display: none; */
  width: 100%;
  height: 100%;
  background-image: url("https://assets.website-files.com/62384332bac7f3d4f139ee1e/624d5860b71355f93453ff75_grain.gif");
  background-position: 0px 0px;
  background-size: auto;
  opacity: 0.04;
}

nav {
  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  transform: translateX(-50%);
  z-index: 3;
  left: 50%;
  top: 10px;

  width: 95vw;
}

nav h2 {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;

  font-size: 16px;
  line-height: 1.2;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

section.navbar {
  position: fixed;

  transform: translateY(-100vh);
  background: white;
  z-index: 3;

  width: 100vw;
  height: 100vh;
}

section.navbar > div.row:first-child {
  padding-bottom: 56px;
  padding-left: 2vw;
}

section.navbar div.links {
  padding-left: 0px;
}

section.navbar > div.row:first-child div.element {
  margin: 0 0 20px 0;
}

section.navbar div.element:last-child {
  margin: 0;
}

section.navbar div.row,
section.navbar div.row div.element {
  overflow: hidden;
}

section.navbar div.links a {
  display: block;
  -webkit-transition: color 600ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: color 600ms cubic-bezier(0.23, 1, 0.32, 1);
  font-family: "Basementgrotesque v1", sans-serif;
  font-size: 120px;
  line-height: 1.1;
  text-transform: uppercase;
  border: none;
  background: none;
  transform: translateY(100%);
}

section.navbar div.links a:hover {
  color: #757575;
  cursor: pointer;
}

section.navbar hr {
  margin: 0;
  width: 0;
  height: 1px;
}

section.navbar img {
  object-fit: cover;

  width: 42%;
  height: 0;
}

section.navbar div.gray-divider {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: #e0e0e0;
  width: 25%;
  height: 0vh;
}

section.navbar div.row.copyrights {
  position: absolute;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  transform: translateX(-50%);
  bottom: 50px;
  left: 50%;

  width: 95vw;
}

section.navbar div.row.copyrights div.element {
  overflow: hidden;
}

section.navbar div.row.copyrights p {
  transform: translateY(100%);
  font-size: 14px;
}

header {
  display: grid;
  place-items: center;

  padding-top: 200px;
  padding-bottom: 200px;
  -webkit-perspective: 2000px;
  perspective: 2000px;
}

header h1 {
  text-align: center;
  font-size: 8vw;
}

section {
  padding-top: 180px;
  padding-bottom: 180px;
}

section.portfolio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 140vh;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #e0e0e0;
}

section.portfolio div.center {
  display: -ms-grid;
  display: grid;
  margin-top: 90px;
  margin-right: 2vw;
  margin-left: 2vw;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

section.portfolio div.left,
section.portfolio div.right {
  transform: translateY(-100px);

  display: -ms-grid;
  display: grid;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

section.portfolio div.center img {
  width: 43.75vw;
  height: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

section.portfolio div.left img,
section.portfolio div.right img {
  width: 38vw;
  height: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

section.values {
  width: 100%;
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
}

section.values h2 {
  margin: 0 0 100px 0;
  width: 90%;
}

section.values div.values-container {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

section.values div.values-container div.element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-style: solid;
  border-width: 1px;
  border-color: #e0e0e0;
}

section.values div.values-container div.element h3 {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 12px;
}

section.values div.values-container div.element div.image-border {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 56px;
  height: 56px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: #e0e0e0;
  border-radius: 50%;
  margin-bottom: 24px;
}

section.work {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
}

section.work div.titles {
  margin-bottom: 80px;
  text-align: center;
}

section.work.page div.titles {
  margin-top: 50px;
  margin-bottom: 120px;
}

section.work div.titles h3 {
  font-size: 20px;
  line-height: 1.2;
  color: #757575;
  margin-bottom: 24px;
}

section.work div.titles h2 {
  font-size: 80px;
}

section.work div.left {
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

section.work div.right {
  margin-top: 96px;
}

section.work.page div.right {
  margin: 0;
}

section.work div.element {
  position: relative;
  margin: 0 0 50px 0;
}

section.work div.element div.project-hover {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  color: #fff;
}

section.work div.element div.project-hover h2 {
  font-size: 20px;
  line-height: 1.2;
}

section.work div.element div.project-hover h6 {
  text-align: right;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  width: 100%;
}

section.track {
  overflow: hidden;
  padding-top: 0px;
  padding-bottom: 0px;
}

section.track > div {
  display: flex;
  align-items: center;
}

section.track img {
  position: relative;
  /* top: -7px; */
  margin-right: 24px;
  margin-left: 24px;
}

section.track div.track-wrap {
  height: 20%;
  width: 200vw;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 40px 0;
}

section.track div.track-wrap div.element {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Basementgrotesque v1", sans-serif;
  font-weight: 900;
  font-size: 5vw;
  text-transform: uppercase;
  white-space: nowrap;
  height: 80%;
  min-width: 100px;
  margin: 0;
  padding: 0;
  position: relative;
  flex-shrink: 0;
}

section.track div.track-wrap div.element img {
  width: 52px;
  height: 52px;
}

section.services {
  width: 100%;
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
}

section.services h2 {
  margin-bottom: 48px;
}

section.services div.row {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

section.services div.services-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  font-family: "Basementgrotesque v1", sans-serif;
  text-transform: uppercase;

  width: 400px;
}

section.services div.services-item span {
  width: 100%;
  margin-bottom: 24px;
}

section.services div.services-item > span:last-child {
  margin: 0;
}

section.qa {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;

  width: 100%;
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
}

section.qa h2 {
  font-size: 40px;
  width: 20%;
}

section.qa > div {
  width: 730px;
}

section.qa div.element {
  width: 100%;
  height: auto;
  margin: 0 0 25px 0;
  padding-right: 32px;
  padding-left: 32px;
  border-style: solid;
  border-width: 1px;
  border-color: #e0e0e0;
}

section.qa div.element:last-child {
  margin: 0;
}

section.qa div.element div.question {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;

  width: 664px;
}

section.qa div.element div.question h3 {
  font-size: 16px;
  line-height: 1.2;
}

section.qa div.element div.answer {
  overflow: hidden;
  width: 100%;
}

section.qa div.element div.answer p {
  /* margin-bottom: 32px; */
  height: 0;
  margin: 0;
}

section.call-to-action {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  text-align: center;
}

section.call-to-action h2 {
  font-size: 80px;
  margin: 0 0 50px 0;
  width: 50%;
}

section.call-to-action a:hover {
  transition: 0.3s;
  background: #794bfb;
}

section.call-to-action a {
  transition: 0.3s;
  padding: 25px 48px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  color: white;
  background-color: #5c23fb;
  -webkit-transition: background-color 600ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: background-color 600ms cubic-bezier(0.23, 1, 0.32, 1);
  font-family: "Basementgrotesque v1", sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

section.call-to-action div.background {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: -100%;
  z-index: 2;
  width: 100%;
  height: 120%;
  border-radius: 50%;
  background-color: #5c23fb;
  opacity: 0.5;
  -webkit-filter: blur(100px);
  filter: blur(100px);
}

section.legal,
section.about {
  display: grid;
  place-items: center;
}

section.legal div.content,
section.about div.content {
  width: 95vw;
  height: 450px;
}

section.legal div.content h2,
section.about div.content h2 {
  margin: 0 0 20px 0;
}

section.about div.wallpaper {
  display: grid;
  place-items: center;

  margin: 0 0 120px 0;
  width: 100%;
}

section.about div.wallpaper img {
  max-width: 998px;
  width: 100%;
  height: auto;
}

section.about div.content {
  height: auto;
  min-height: 450px;
}

section.about div.content h1 {
  font-size: 54px;
}

section.about div.content h2 {
  font-size: 40px;
}

section.about div.content > div.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 0 100px 0;
}

section.about div.content > div.row > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  width: 50%;
}

section.about div.content > div.row > div a {
  margin: 50px 0 0 0;
  width: 280px;
}

section.about div.content > div.row > div:nth-child(odd) a {
  padding: 25px 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  color: white;
  background-color: #000;
  -webkit-transition: background-color 600ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: background-color 600ms cubic-bezier(0.23, 1, 0.32, 1);
  font-family: "Basementgrotesque v1", sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

section.about div.content > div.row > div:nth-child(odd) a:hover {
  background-color: #5c24fb;
}

section.about div.content > div.row:last-child {
  margin: 0;
}

section.about div.content > div.row img {
  /* width: 496px; */

  max-width: 640px;
  width: 100%;
  height: auto;
}

section.contact {
  min-height: 100vh;
  height: auto;

  padding: 0;
}

section.contact div.row {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

section.contact div.row div.left {
  width: 100%;
  height: 100vh;
  padding: 180px 56px 56px;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.4)),
      to(rgba(0, 0, 0, 0.4))
    ),
    url("https://assets.stratusagency.io/contact-background.webp");
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("https://assets.stratusagency.io/contact-background.webp");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  color: #fff;
}

section.contact div.row div.left h1 {
  font-size: 56px;
  line-height: 1;
  margin: 0 0 50px 0;
  width: 90%;
}

section.contact div.row div.left a:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

section.contact div.row div.left a h2 {
  color: white;
  font-size: 16px;
  line-height: 1.2;
}

section.contact div.row div.right {
  position: relative;

  width: 100%;
  max-width: 50vw;
  height: 100vh;
  padding: 180px 56px 56px;
}

section.contact div.row div.right h2 {
  font-size: 20px;
  line-height: 1.2;

  margin-bottom: 40px;
}

section.contact div.row div.right div.wrap {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

section.contact div.row div.right div.element {
  width: 100%;
}

label {
  display: block;
}

section.contact div.row div.right div.element > label {
  margin-bottom: 12px;
  font-family: "Basementgrotesque v1", sans-serif;
  color: #757575;
  font-size: 14px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
}

section.contact div.row div.right input,
section.contact div.row div.right textarea {
  font: inherit;
  min-height: 56px;
  margin-bottom: 0px;
  padding-right: 20px;
  padding-left: 20px;
  border: 1px none #000;
  border-radius: 4px;
  background-color: #e0e0e0;
  color: #333333;
  font-size: 14px;

  width: 100%;
}

section.contact div.row div.right input::placeholder,
section.contact div.row div.right textarea::placeholder {
  color: black !important;
}

section.contact div.row div.right input:focus,
section.contact div.row div.right textarea:focus {
  outline: none;
}

section.contact div.row div.right div.element.large {
  margin: 20px 0 0 0;
  width: 100%;
}

section.contact div.row div.right textarea {
  padding: 15px 0 0 15px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

section.contact div.row div.right button {
  display: block;
  padding: 9px 15px;
  background-color: #3898ec;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
  padding: 25px 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: #000;
  -webkit-transition: background-color 600ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: background-color 600ms cubic-bezier(0.23, 1, 0.32, 1);
  font-family: "Basementgrotesque v1", sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  float: right;

  margin: 20px 0 0 0;
}

section.contact div.row div.right button:hover {
  background-color: #5c24fb;
}

section.contact div.row div.right div.success {
  display: grid;
  place-items: center;

  background: black;
  text-align: center;
  color: white;

  padding: 20px;
  width: 100%;
  min-height: 64px;
}

section.contact div.row div.right div.success p {
  font-family: Inter(reg), sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

section.post-headline {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 730px;
  grid-template-columns: 1fr 730px;

  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

section.post-headline img {
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
  object-fit: cover;
}

section.post-headline div.post-headline-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 56px 56px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #000;
  -webkit-transition: background-color 600ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: background-color 600ms cubic-bezier(0.23, 1, 0.32, 1);
  color: #fff;
  height: 100%;
}

section.post-headline div.post-headline-content h1 {
  font-size: 40px;
}

section.post-headline div.post-headline-content div.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

section.post-headline div.post-headline-content div.bottom a {
  color: white;
}

section.post-headline div.post-headline-content:hover {
  background-color: #757575;
}

section.posts {
  display: grid;
  place-items: center;
}

section.posts > div.row {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

section.posts div.post,
section.other-posts div.post {
  -webkit-transition: color 600ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: color 600ms cubic-bezier(0.23, 1, 0.32, 1);

  cursor: pointer;

  max-width: 100%;
  display: inline-block;
}

section.posts div.post img {
  margin-bottom: 24px;
  object-fit: cover;
}

section.posts div.post h2.date,
section.other-posts div.post h2.date {
  color: #757575;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 12px;
}

section.posts div.post h2.title,
section.other-posts div.post h2.title {
  font-size: 20px;
  line-height: 1.2;
}

div.post:hover {
  color: #757575;
}

section.post.headline {
  text-align: center;
  padding-bottom: 0;
}

section.post.headline div.text {
  display: grid;
  place-items: center;

  padding-right: 24px;
  padding-left: 24px;
}

section.post.headline h1 {
  font-size: 40px;
  margin-bottom: 24px;
}

section.post.headline h2 {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 80px;
  color: #757575;
}

section.post.headline img {
  object-fit: cover;
  width: 100%;
}

section.post.content {
  display: grid;
  place-items: center;
}

section.post.content div.markdown {
  width: 100%;
  max-width: 1060px;
}

section.post.content div.markdown a {
  text-decoration: underline;
}

section.post.content div.markdown h2 {
  width: 100%;
  max-width: 730px;
  margin-right: auto;
  margin-bottom: 32px;
  margin-left: auto;
  font-size: 24px;
}

section.post.content div.markdown p {
  width: 100%;
  max-width: 730px;
  margin-right: auto;
  margin-bottom: 32px;
  margin-left: auto;
  font-size: 18px;
}

section.post.content div.markdown blockquote > p {
  all: unset;
}

section.post.content div.markdown ul,
section.post.content div.markdown ol {
  width: 100%;
  max-width: 730px;
  margin-right: auto;
  margin-bottom: 32px;
  margin-left: auto;
  padding-left: 20px;
}

section.post.content div.markdown li {
  font-size: 18px;
  margin-bottom: 12px;
}

section.post.content div.markdown blockquote {
  width: 100%;
  max-width: 730px;
  margin-right: auto;
  margin-bottom: 32px;
  margin-left: auto;
}

section.post.content div.markdown img {
  width: 100%;
}

section.other-posts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
}

section.other-posts h2 {
  margin-bottom: 80px;
}

section.other-posts div.post {
  max-width: 620px;
}

section.other-posts div.post img {
  margin-bottom: 24px;
  width: 100%;
  height: auto;
}

section.other-posts div.post h2 {
  margin: 0;
}

footer {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 120px;
  padding-bottom: 120px;
}

footer h2 {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 24px;
}

footer div.column div.list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

footer div.column div.list a {
  transition: all 0.3s;

  display: inline-block;
  margin-bottom: 12px;
  -webkit-transition: color 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: color 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

footer div.column div.list a:hover {
  transition: all 0.3s;
  color: #757575;
}

footer > div.row:first-child {
  padding-bottom: 64px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: 2fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr;
}

footer div.row > div:first-child {
  flex-direction: column;
  width: 100%;
  max-width: 510px;
}

footer div.row > div:first-child img {
  margin-bottom: 24px;
}

footer div.row > div:first-child p {
  margin-bottom: 24px;
}

footer div.row > div:first-child > a {
  width: 70px;
}

footer div.row > div:first-child > a img {
  margin: 0;
}

footer div.row > div:first-child div.social-wrap {
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

footer div.row > div:first-child div.social-wrap a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

footer div.copyrights {
  -ms-grid-columns: 2fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr;
}

footer div.copyrights a:hover {
  -webkit-transition: color 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: color 400ms cubic-bezier(0.23, 1, 0.32, 1);
  color: #757575;
}

footer div.copyrights p {
  -webkit-transition: color 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: color 400ms cubic-bezier(0.23, 1, 0.32, 1);
  font-size: 14px;
}

@media screen and (max-width: 1535px) {
  section.posts div.post img {
    width: 580px;
    height: 346px;
  }
}

@media screen and (max-width: 1280px) {
  section.posts div.post img {
    width: 452px;
    height: 269px;
  }
}

@media screen and (max-width: 1024px) {
  section.posts div.post img {
    width: 324px;
    height: 193px;
  }
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 20px;
  }

  section,
  footer {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 24px;
    padding-left: 24px;
  }

  nav {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #fff;
    transform: none;
    left: 0;
    top: 0;
    width: 100vw;
  }

  nav h2 {
    display: none;
  }

  nav div.logo {
    margin: 0 0 0 15px;
  }

  nav div.logo img {
    height: 31px;
  }

  nav div.hamburger {
    margin: 0 20px 0 0;
  }

  nav div.hamburger img {
    width: 20px;
  }

  a.link {
    width: 100%;
  }

  section.navbar div.row:first-child {
    display: block;
    padding-left: 0;
    margin: 20px 0 0 0;
  }

  section.navbar div.links {
    width: 100%;
  }

  section.navbar div.links div.element {
    overflow: hidden;
  }

  section.navbar div.element a {
    font-size: 32px;
  }

  section.navbar img,
  section.navbar div.gray-divider {
    display: none;
  }

  section.navbar div.row.copyrights {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    bottom: 40px;

    width: 90vw;
    height: auto;
  }

  section.navbar div.row.copyrights div:nth-child(2),
  section.navbar div.row.copyrights div:last-child {
    display: none;
  }

  header {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  header h1 {
    font-size: 8vw;
  }

  section.portfolio {
    height: auto;
  }

  section.portfolio div.left,
  section.portfolio div.right {
    transform: none;
  }

  section.portfolio div.center {
    margin-top: 0;
  }

  section.values {
    padding-bottom: 0px;
  }

  section.values,
  section.work {
    width: 100vw;
    overflow: hidden;
  }

  section.values h2 {
    margin: 0 0 35px 0;
  }

  section.values div.values-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  section.values div.values-container div.element {
    padding: 24px;
  }

  section.work div.titles h3 {
    font-size: 16px;
  }

  section.work div.titles h2 {
    font-size: 28px;
  }

  section.work div.row {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  section.work div.row div.right {
    margin: 0;
  }

  section.work div.row div.left div.element:last-child {
    margin: 0;
  }

  section.work div.element {
    margin: 0 0 20px 0;
  }

  section.work div.element img {
    width: 100%;
    height: auto;
  }

  section.track div.track-wrap div.element {
    min-width: 50px;
  }

  section.track div.track-wrap div.element img {
    width: 32px;
    height: 32px;
  }

  section.services h2 {
    width: 100%;
  }

  section.services div.row {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: none;
  }

  section.services div.services-item {
    width: 100%;
  }

  section.qa {
    flex-direction: column;
    padding-right: 24px;
    padding-left: 24px;
  }

  section.qa h2 {
    font-size: 20px;
    margin: 0 0 25px 0;
    width: 100%;
  }

  section.qa > div {
    width: 100%;
  }

  section.qa div.element {
    padding-right: 24px;
    padding-left: 24px;
    width: 100%;
  }

  section.qa div.element div.question {
    width: 100%;
  }

  section.qa div.element div.question h3 {
    width: 80%;
  }

  section.call-to-action {
    min-height: 410px;
  }

  section.call-to-action h2 {
    font-size: 28px;
    width: 100%;
  }

  section.call-to-action a {
    width: 100%;
  }

  section.about {
    display: block;
  }

  section.about div.content {
    position: relative;
    width: 100%;
  }

  section.about div.content h1 {
    font-size: 37px;
  }

  section.about div.content > div.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 0 0 100px 0;
  }

  section.about div.content > div.row > div {
    width: 100%;
  }

  section.about div.content > div.row:last-child {
    flex-direction: column-reverse;
    margin: 0;
  }

  section.about div.content > div.row > div a {
    width: 100%;
  }

  section.about div.wallpaper {
    display: grid;
    place-items: center;

    margin: 0 0 80px 0;
    width: 100%;
  }

  section.about div.wallpaper img {
    max-width: 998px;
    width: 100%;
    height: auto;
  }

  section.contact {
    padding-right: 0;
    padding-left: 0;
  }

  section.contact div.row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;

    width: 100vw;
  }

  section.contact div.row div.left,
  section.contact div.row div.right {
    width: 100vw;
    height: auto;
  }

  section.contact div.row div.left {
    padding: 120px 24px;
  }

  section.contact div.row div.left h1 {
    font-size: 28px;
  }

  section.contact div.row div.right {
    padding: 80px 24px;
    max-width: 100vw;
  }

  section.contact div.row div.right div.wrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  section.contact div.row div.right button {
    width: 100%;
  }

  section.post-headline {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 55px;
  }

  section.post-headline img {
    height: auto;
    -o-object-fit: fill;
    object-fit: fill;
  }

  section.post-headline div.post-headline-content {
    padding: 100px 40px;
  }

  section.post-headline div.post-headline-content h1 {
    font-size: 32px;
    margin-bottom: 24px;
  }

  section.posts > div.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  section.posts div.post img {
    width: 100%;
    height: auto;
  }

  section.post.headline {
    padding-right: 0;
    padding-left: 0;
  }

  section.post.headline img {
    height: auto;
    max-width: 100vw;
    -o-object-fit: fill;
    object-fit: fill;
  }

  section.other-posts div.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  section.other-posts div.post img {
    width: 100%;
  }

  footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  footer > div.row:first-child {
    display: flex;
    flex-direction: column;
  }

  footer div.copyrights {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-rows: auto;
  }

  footer div.copyrights {
    grid-column-gap: 24px;
    grid-row-gap: 8px;
  }

  footer div.copyrights p {
    white-space: nowrap;
  }
}

@media screen and (max-width: 767px) {
  section.post.headline {
    padding-top: 100px;
  }

  section.post.headline h1,
  section.post.content div.markdown h1,
  section.post.content div.markdown h2 {
    font-size: 20px;
  }

  section.post.headline h2 {
    margin-bottom: 40px;
  }

  section.post.content div.markdown {
    width: 100%;
  }

  section.post.content div.markdown h1,
  section.post.content div.markdown h2,
  section.post.content div.markdown p {
    padding: 0;
  }

  section.post.content div.markdown blockquote {
    font-size: 24px;
  }

  section.other-posts {
    padding-right: 24px;
    padding-left: 24px;
  }

  section.other-posts h2 {
    font-size: 28px;
    margin-bottom: 40px;
  }

  section.other-posts div.post h2.title {
    font-size: 16px;
  }
}
